artifacts/n8n-audit-linkedin-workflow.json
{"updatedAt":"2026-02-25T11:38:56.486Z","createdAt":"2026-02-16T08:13:53.381Z","id":"1ZYJR6Mum95E4buU","name":"audit_linkedin","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"linkedin/audit","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-560,-16],"id":"32a11e13-7850-4342-88ab-4fe7ee461d0b","name":"Webhook","webhookId":"40d89a1a-416a-4b47-a5bd-085b88042f6e"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-352,-16],"id":"255adaea-6485-4eda-8380-ab7b942df132","name":"Extract from File"},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[4800,-32],"id":"48638818-a4c8-46e7-a639-bcce51a2109e","name":"Respond to Webhook"},{"parameters":{"resource":"file","fileId":"={{ $('Extract from File').item.json.data.profile_file_id_tg }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1488,-208],"id":"6482f71b-e515-480b-87bf-150c1046810a","name":"Get a file","webhookId":"4992df91-fbb9-4653-b8e9-ee0ec6ffe496","credentials":{"telegramApi":{"id":"5AVCXzUmOJSLQVZs","name":"Linkedin-bot"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1696,-208],"id":"e64451a6-ac57-404f-a1af-2cad6fb4a632","name":"Extract from File1"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"columns":{"mappingMode":"defineBelow","value":{"platform_id":"={{ $('Extract from File').item.json.data.platform_id }}","created_at":"={{ new Date().toISOString() }}"},"matchingColumns":["platform_id"],"schema":[{"id":"platform_id","displayName":"platform_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"last_seen_at","displayName":"last_seen_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[528,-176],"id":"429bb7ad-2d6e-4654-8981-e033c8d6a046","name":"Insert or update rows in a table","credentials":{"postgres":{"id":"rCSTv2mlBUQCyoxe","name":"linkedin_bot"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"where":{"values":[{"column":"platform_id","value":"={{ $json.data.platform_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[64,-16],"id":"d5c8c0e9-ab2e-485b-ac70-282133a0d88f","name":"Select rows from a table","alwaysOutputData":true,"credentials":{"postgres":{"id":"rCSTv2mlBUQCyoxe","name":"linkedin_bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true},"id":"ede98ce8-986d-4663-988c-6eb59b31a3af"}],"combinator":"and"},"renameOutput":true,"outputKey":"Создаем карточку клиента"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[272,-16],"id":"55cfefe5-0a49-4d56-8313-b6beadb6df16","name":"Switch1"},{"parameters":{"operation":"executeQuery","query":"-- 1) request_id: генерим всегда (UUID)\n-- 2) profile_hash: sha256(canonical_json)\n\ninsert into requests (\n  platform_id,\n  request_id,\n  analysis_type,\n  input_type,\n  goal,\n  result_lang,\n  profile_hash,\n  status,\n  created_at,\n  updated_at\n)\nvalues (\n  $1,\n  gen_random_uuid()::text,\n  'free_score',\n  $2,\n  $3,\n  $4,\n  encode(digest($5, 'sha256'), 'hex'),\n  'RECEIVED',\n  now(),\n  now()\n)\nreturning id, platform_id, request_id, profile_hash, status;","options":{"queryReplacement":"={{ [\n$('Normalize input').item.json.payload.platform_id,\n$('Normalize input').item.json.payload.input_type,\n$('Normalize input').item.json.payload.goal_type,\n$('Normalize input').item.json.payload.profile_language,\n$('Normalize input').item.json.payload.canonical_json\n] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[832,0],"id":"52812138-d0c2-4c09-98b9-a37c907c5362","name":"Postgres : Requests: create","credentials":{"postgres":{"id":"rCSTv2mlBUQCyoxe","name":"linkedin_bot"}}},{"parameters":{"jsCode":"const bundle = $items('Init bundle')[0].json;\n\nconst pdfText = String($json.text || '').trim(); // оставьте поле вашей pdf-ноды как есть\nbundle.sources.pdf.raw_text = pdfText || null;\nbundle.sources.pdf.error = pdfText ? null : 'PDF_EMPTY';\n\nreturn [{ json: bundle }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,-208],"id":"6d98ae85-d9b4-4e41-a7f7-fd5905a1d750","name":"Build raw_text (pdf)"},{"parameters":{"jsCode":"const d = $json.data ?? {};\n\nconst platform_id = String(d.platform_id || '').trim();\nif (!platform_id) {\n  return [{\n    json: {\n      status: 'INSUFFICIENT_DATA',\n      errors: [{ code: 'NO_PLATFORM_ID', message: 'platform_id is required' }]\n    }\n  }];\n}\n\n// input_type: pdf / link / manual (по вашим полям)\nconst hasPdf = String(d.profile_file_id_tg || '').trim().length > 0;\nconst hasLink = String(d.profile_link || '').trim().length > 0;\n\nconst input_type = hasPdf ? 'pdf' : (hasLink ? 'link' : 'manual_fields');\n\n// internal payload, строго под ваш Salebot формат\nconst payload = {\n  client_id: String(d.client_id || '').trim() || null,\n  platform_id,\n  lang: (d.lang || 'ru'),\n  profile_language: (d.profile_language || null),\n  goal_type: (d.goal_type || null),\n  profile_link: (d.profile_link || null),\n  profile_file_id_tg: (d.profile_file_id_tg || null),\n  profile_headline: (d.profile_headline || null),\n  profile_about: (d.profile_about || null),\n  profile_experience: (d.profile_experience || null),\n  profile_skills: (d.profile_skills || null),\n};\n\nconst canonical = {\n  analysis_type: 'free_score',\n  input_type,\n  // goal/result_lang берём из ваших полей\n  goal_type: payload.goal_type,\n  result_lang: payload.lang,\n  profile_language: payload.profile_language,\n  // все входные данные, влияющие на итог\n  profile_link: payload.profile_link,\n  profile_file_id_tg: payload.profile_file_id_tg,\n  profile_headline: payload.profile_headline,\n  profile_about: payload.profile_about,\n  profile_experience: payload.profile_experience,\n  profile_skills: payload.profile_skills\n};\n\n// canonical_json хэшируем в Postgres\npayload.analysis_type = 'free_score';\npayload.input_type = input_type;\npayload.canonical_json = JSON.stringify(canonical);\n\nreturn [{ json: { payload } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-16],"id":"522668ef-3047-455c-aa84-76722bce05c3","name":"Normalize input"},{"parameters":{"jsCode":"const bundle = $items('Init bundle')[0].json;\nconst p = bundle.payload;\n\nconst parts = [];\nif (p.profile_headline) parts.push(`HEADLINE:\\n${p.profile_headline}`);\nif (p.profile_about) parts.push(`ABOUT:\\n${p.profile_about}`);\nif (p.profile_experience) parts.push(`EXPERIENCE:\\n${p.profile_experience}`);\nif (p.profile_skills) parts.push(`SKILLS:\\n${p.profile_skills}`);\nif (p.profile_link) parts.push(`LINK:\\n${p.profile_link}`);\n\nconst fieldsText = parts.join('\\n\\n').trim();\nbundle.sources.fields.raw_text = fieldsText || null;\nbundle.sources.fields.error = fieldsText ? null : 'FIELDS_EMPTY';\n\nreturn [{ json: bundle }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,-16],"id":"06a4b1fa-7235-422f-a812-f36105ca228c","name":"Build raw_text (fields)"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"=ROLE: LinkedIn Profile Normalization Engine\n\nYou are a deterministic data normalizer.\n\nYour task is to transform raw LinkedIn profile input into a strict structured JSON object.\n\nSOURCE OF TRUTH:\nOnly the data provided in the INPUT section.\nDo NOT invent, assume, enrich, infer or complete missing information.\nIf data is missing — explicitly mark it as null.\n\nSTRICT RULES:\n- Output ONLY valid JSON.\n- No markdown.\n- No comments.\n- No explanations.\n- No text outside JSON.\n- If critical information is missing, return INSUFFICIENT_DATA structure (defined below).\n\nINPUT OBJECT FIELDS:\n- goal_type\n- result_lang\n- profile_language\n- raw_text (if provided)\n- profile_link\n- profile_headline\n- profile_about\n- profile_experience\n- profile_skills\n\nTASK:\n\n1. Extract and normalize the profile into structured fields.\n2. Remove duplicates.\n3. Trim whitespace.\n4. Preserve original language.\n5. Do not translate.\n6. If the same block appears twice, keep one clean version.\n7. If input is too short (< 200 characters total meaningful content), return INSUFFICIENT_DATA.\n\nOUTPUT FORMAT (STRICT):\n\n{\n  \"status\": \"OK\",\n  \"normalized_profile\": {\n    \"language_detected\": \"string|null\",\n    \"goal_type\": \"string|null\",\n    \"headline\": \"string|null\",\n    \"about\": \"string|null\",\n    \"experience\": [\n      {\n        \"company\": \"string|null\",\n        \"role\": \"string|null\",\n        \"dates\": \"string|null\",\n        \"achievements\": [\"string\"]\n      }\n    ],\n    \"skills\": [\"string\"],\n    \"link\": \"string|null\"\n  },\n  \"meta\": {\n    \"input_completeness_score\": 0.0,\n    \"duplicate_content_removed\": true,\n    \"insufficient_fields\": []\n  }\n}\n\nIF insufficient data:\n\n{\n  \"status\": \"INSUFFICIENT_DATA\",\n  \"reason\": \"short_content|missing_core_sections\",\n  \"missing_fields\": [\"headline\",\"experience\"]\n}\n\nNo other formats allowed."},{"content":"={\n  \"goal_type\": \"{{ $json.payload.goal_type }}\",\n  \"result_lang\": \"{{ $json.payload.lang }}\",\n  \"profile_language\": \"{{ $json.payload.profile_language }}\",\n  \"raw_text\": \"{{ $json.payload.raw_text }}\"\n}"}]},"simplify":false,"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[2656,-16],"id":"255b1318-75fb-4a3a-b936-e9c30451c132","name":"Message a model","credentials":{"openAiApi":{"id":"aEpCSuNZRsUnLpjB","name":"linkedin_bot"}}},{"parameters":{"jsCode":"// Parse normalized JSON (after node 6)\nconst out = $json?.output?.[0];\nconst text = out?.content?.[0]?.text;\n\nif (!text || typeof text !== 'string') {\n  return [{\n    json: {\n      status: 'ERROR',\n      errors: [{ code: 'NO_LLM_TEXT', message: 'LLM output text is missing' }]\n    }\n  }];\n}\n\nlet obj;\ntry {\n  obj = JSON.parse(text);\n} catch (e) {\n  return [{\n    json: {\n      status: 'ERROR',\n      errors: [{\n        code: 'INVALID_JSON_FROM_LLM',\n        message: 'LLM returned non-JSON text',\n        details: String(e)\n      }],\n      raw_text: text.slice(0, 2000)\n    }\n  }];\n}\n\n// Валидация минимальной схемы\nif (!obj || typeof obj !== 'object' || !obj.status) {\n  return [{\n    json: {\n      status: 'ERROR',\n      errors: [{ code: 'BAD_SCHEMA', message: 'Missing top-level status in normalized JSON' }],\n      raw_text: text.slice(0, 2000)\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    status: obj.status,\n    normalized_profile: obj.normalized_profile ?? null,\n    meta: obj.meta ?? null,\n    insufficient: {\n      reason: obj.reason ?? null,\n      missing_fields: obj.missing_fields ?? null\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3040,-16],"id":"924a9337-3a07-4304-8a13-327c49aa09e9","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5fa26d9b-db1f-4008-98db-7f49ef1bd338","leftValue":"={{ $json.status }}","rightValue":"OK","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3248,-16],"id":"aaebc241-11ed-41ab-83fd-84bcfc9cb7df","name":"If"},{"parameters":{"operation":"executeQuery","query":"insert into artifacts (platform_id, profile_hash, normalized_profile, created_at)\nvalues ($1, $2, $3::jsonb, now())\non conflict (platform_id, profile_hash)\ndo update set normalized_profile = excluded.normalized_profile\nreturning id;","options":{"queryReplacement":"={{ [\n$('Normalize input').item.json.payload.platform_id,\n$('Postgres : Requests: create').item.json.profile_hash,\n$json.normalized_profile\n] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3488,-32],"id":"3cba7251-efac-4a85-a5eb-62cca2a052a8","name":"Execute a SQL query","credentials":{"postgres":{"id":"rCSTv2mlBUQCyoxe","name":"linkedin_bot"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"responses":{"values":[{"role":"system","content":"=Role: LinkedIn Profile Scoring Engine (deterministic, conservative evaluator)\n\nPurpose:\nGenerate a strict, conservative free score based ONLY on explicitly present data.\nIf unsure → score lower.\nNever inflate results.\n\nSource of truth:\n- Use ONLY normalized_profile from input JSON.\n- Do NOT assume, infer, extrapolate or interpret beyond explicit text.\n- Only evaluate what is explicitly present.\n\nDeterminism:\n- Use exact scoring rules below.\n- If rule does not clearly match → score 0.\n- Return JSON only.\n\nINPUT FORMAT:\n{\n  \"goal_type\": \"job|freelance|brand\",\n  \"result_lang\": \"ru|en\",\n  \"normalized_profile\": {\n    \"language_detected\": \"string|null\",\n    \"headline\": \"string|null\",\n    \"about\": \"string|null\",\n    \"experience\": [...],\n    \"skills\": [...]\n  }\n}\n\n--------------------------------------------------\nINSUFFICIENT_DATA (STRICT BUT MINIMAL)\n--------------------------------------------------\n\nReturn INSUFFICIENT_DATA ONLY IF:\n\n1) headline is null or empty\n2) about is null or empty\n3) experience missing OR not an array OR length == 0\n\nDO NOT return INSUFFICIENT_DATA for:\n- short headline\n- short about\n- few skills\n- single experience entry\n\nIf INSUFFICIENT_DATA:\n\n{\n  \"status\":\"INSUFFICIENT_DATA\",\n  \"missing\":[...],\n  \"notes\":\"...\"\n}\n\nnotes must be 1 short sentence in result_lang.\n\n--------------------------------------------------\nLANGUAGE RULES (MANDATORY)\n--------------------------------------------------\n\n- All user-facing strings MUST be in result_lang.\n- Do NOT switch language based on profile language.\n- If result_lang=\"ru\", use Cyrillic.\n- Proper nouns and tech terms may remain unchanged.\n- No English sentences if result_lang=\"ru\".\n\n--------------------------------------------------\nGENERAL SCORING RULES\n--------------------------------------------------\n\n1) Every subscore must be integer 0–20.\n2) If partial match → give lower value.\n3) If unclear → give 0.\n4) total MUST equal exact sum of subscores.\n5) If any subscore >20 → recompute.\n6) Conservative bias: never reward absence of data.\n7) If profile has:\n   - less than 2 experience entries\n   OR\n   - less than 8 skills\n   Then final total cannot exceed 70.\n8) If profile has only 1 experience entry → experience subscore max = 12.\n9) If skills <5 → skills subscore max = 8.\n\n--------------------------------------------------\nSCORING MODEL (0–100)\n--------------------------------------------------\n\n1) HEADLINE (0–20)\n\n+5 length ≥30\n+5 contains explicit role keyword (engineer, developer, manager, analyst, designer, consultant, specialist, lead, founder, etc.)\n+5 contains specialization keyword (SaaS, FinTech, AI, Marketing, Analytics, etc.)\n+5 contains goal-aligned phrase (help, build, freelance, open to work, etc.)\n\nIf no role keyword present → headline max = 12.\nIf length <30 → headline max = 8.\n\n--------------------------------------------------\n\n2) ABOUT (0–20)\n\n+5 length ≥300 characters\n+5 contains ≥2 of: niche, audience, measurable proof, CTA\n+5 contains number AND action verb (e.g. built 5…, increased 30%)\n+5 structured formatting (bullets or visible sections)\n\nIf no numbers → about max = 12.\nIf length <200 → about max = 10.\n\n--------------------------------------------------\n\n3) EXPERIENCE (0–20)\n\n+5 ≥2 roles\n+5 company and role filled\n+5 dates present\n+5 visible progression (e.g. Junior → Senior)\n\nIf only 1 role → max = 12.\n\n--------------------------------------------------\n\n4) ACHIEVEMENTS (0–20)\n\n+5 ≥3 achievements\n+5 contain numbers\n+5 contain measurable impact verbs\n+5 outcome-focused (not task-only descriptions)\n\nIf achievements mostly task-based → max = 14.\n\n--------------------------------------------------\n\n5) SKILLS (0–20)\n\n+5 ≥10 skills\n+5 ≥3 skills match specialization\n+5 no duplicates\n+5 aligned with headline specialization\n\nIf skills <5 → max = 8.\nIf skills 5–9 → max = 12.\n\n--------------------------------------------------\nTOTAL CALCULATION\n--------------------------------------------------\n\ntotal = headline + about + experience + achievements + skills\n\nIf total >70 AND:\n  - experience length <2 OR\n  - skills <8\nThen set total = 70.\n\nEnsure:\n- total equals sum of subscores (after caps).\n- total cannot exceed 85 in free mode.\n\n--------------------------------------------------\nSTRENGTHS / WEAKNESSES RULES\n--------------------------------------------------\n\nMax 5 each.\n\nEach statement must:\n- reference explicit evidence\n- follow format: \"Факт → вывод\"\n\nExample:\n\"Есть 4 достижения с цифрами → присутствует количественное подтверждение.\"\n\nNo praise language.\nNo speculation.\n\n--------------------------------------------------\nRECOMMENDATIONS RULES\n--------------------------------------------------\n\nMax 5.\n1 sentence each.\nDirectly tied to weakest subscores.\nNo motivational tone.\nNo invented data.\n\n--------------------------------------------------\nOUTPUT FORMAT (STRICT JSON)\n--------------------------------------------------\n\nIf OK:\n\n{\n  \"status\": \"OK\",\n  \"meta\": {\n    \"goal_type\": \"job|freelance|brand\",\n    \"result_lang\": \"ru|en\",\n    \"profile_language_detected\": \"string|null\"\n  },\n  \"scores\": {\n    \"total\": 0,\n    \"headline\": 0,\n    \"about\": 0,\n    \"experience\": 0,\n    \"achievements\": 0,\n    \"skills\": 0\n  },\n  \"strengths\": [\"string\"],\n  \"weaknesses\": [\"string\"],\n  \"recommendations\": [\"string\"]\n}\n\nIf INSUFFICIENT_DATA:\n\n{\n  \"status\":\"INSUFFICIENT_DATA\",\n  \"missing\":[\"...\"],\n  \"notes\":\"...\"\n}\n\n--------------------------------------------------\nFINAL VALIDATION (MANDATORY)\n--------------------------------------------------\n\nBefore output:\n- Verify all subscores are integers 0–20.\n- Verify total equals exact sum.\n- Verify language matches result_lang.\n- If any condition fails → recompute.\n- Return JSON only."},{"content":"=\"role\" : \"user\"\n\n\"content\" : {\n  \"goal_type\": \"{{$node['Normalize input'].json.payload.goal_type}}\",\n  \"result_lang\": \"{{ $('Normalize input').item.json.payload.lang }}\",\n  \"normalized_profile\": {{ JSON.stringify($node['Code in JavaScript'].json.normalized_profile) }}\n}"}]},"simplify":false,"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_object"}},"temperature":0,"topP":1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[3696,-32],"id":"5f7b7422-3e21-4f28-8602-ce07ce348963","name":"Message a model1","credentials":{"openAiApi":{"id":"aEpCSuNZRsUnLpjB","name":"linkedin_bot"}}},{"parameters":{"actorId":{"__rl":true,"value":"VhxlqQXRwhW8H5hNV","mode":"list","cachedResultName":"Profile Details Scraper for LinkedIn + EMAIL (No Cookies) (apimaestro/linkedin-profile-detail)","cachedResultUrl":"https://console.apify.com/actors/VhxlqQXRwhW8H5hNV/input"},"customBody":"={\n    \"includeEmail\": false,\n    \"username\": \"{{ $('Extract from File').item.json.data.profile_link }}\"\n} "},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[1472,192],"id":"1084ebae-62da-48ca-9192-5d893231655d","name":"Run an Actor","credentials":{"apifyApi":{"id":"wVu9v5MBpnXexBGz","name":"linkedin_bot"}}},{"parameters":{"resource":"Datasets","datasetId":"={{ $json.defaultDatasetId }}","options":{}},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[1680,192],"id":"491178b0-d636-4eac-a039-625bdf6280b4","name":"Get dataset items","credentials":{"apifyApi":{"id":"wVu9v5MBpnXexBGz","name":"linkedin_bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1aa249d6-8ca1-4164-a2c7-113e906f74b5","leftValue":"={{ $json.sources.pdf.present }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1264,-192],"id":"736bbdee-b165-4b4f-a97f-db17a719d364","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"30c75879-b18d-4bf8-b285-7f7235cffed7","leftValue":"={{ $json.sources.fields.present }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1248,0],"id":"82aef6b5-dc3d-4b88-beef-60235f9647ac","name":"If2"},{"parameters":{"jsCode":"const payload = $items('Normalize input')[0].json.payload;\n\nconst bundle = {\n  payload,\n  sources: {\n    pdf:   { present: !!payload.profile_file_id_tg, raw_text: null, error: null },\n    fields:{ present: !!(payload.profile_headline || payload.profile_about || payload.profile_experience || payload.profile_skills), raw_text: null, error: null },\n    link:  { present: !!payload.profile_link, data: null, error: null }\n  }\n};\n\nreturn [{ json: bundle }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,0],"id":"4fabe9d2-d240-495a-ae20-4d260d676e60","name":"Init bundle"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"30c75879-b18d-4bf8-b285-7f7235cffed7","leftValue":"={{ $json.sources.link.present }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1264,208],"id":"75c35570-6fc4-4d47-93c2-81fb6645d4a8","name":"If3"},{"parameters":{"jsCode":"const bundle = $items('Init bundle')[0].json;\n\n// dataset items обычно массив\nconst r = Array.isArray($json) ? $json[0] : $json;\nconst bi = r?.basic_info || {};\n\nbundle.sources.link.data = {\n  profile_url: bi.profile_url || null,\n  public_identifier: bi.public_identifier || null,\n  fullname: bi.fullname || null,\n  headline: bi.headline || null,\n  about: bi.about || null,\n  top_skills: Array.isArray(bi.top_skills) ? bi.top_skills : [],\n  experience: Array.isArray(r.experience) ? r.experience : [],\n  education: Array.isArray(r.education) ? r.education : [],\n  location: bi.location || null\n};\n\nbundle.sources.link.error =\n  (bundle.sources.link.data.headline || bundle.sources.link.data.about || bundle.sources.link.data.experience.length)\n    ? null\n    : 'LINK_EMPTY';\n\nreturn [{ json: bundle }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,192],"id":"0c597cfa-8ec8-4a33-805c-27c5bc88516b","name":"Set link into bundle"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2160,-32],"id":"b5457f7f-d1d2-4fdc-af88-866d0b1736c3","name":"Merge"},{"parameters":{"jsCode":"const bundle = $json; // после merge\n\nconst p = bundle.payload || {};\nconst pdfText = bundle.sources?.pdf?.raw_text || null;\nconst fieldsText = bundle.sources?.fields?.raw_text || null;\nconst linkData = bundle.sources?.link?.data || null;\n\n// helpers\nconst s = (v) => (v == null ? '' : String(v)).trim();\nconst nonEmpty = (v) => s(v).length > 0;\n\nconst used = {\n  link: !!bundle.sources?.link?.present && !!linkData,\n  pdf: !!bundle.sources?.pdf?.present && nonEmpty(pdfText),\n  fields: !!bundle.sources?.fields?.present && nonEmpty(fieldsText),\n};\n\n// 1) секции (максимум структурных данных): link → fields (в pdf у нас нет структурных секций, только raw)\nconst sections = {\n  headline: nonEmpty(linkData?.headline) ? s(linkData.headline) : null,\n  about: nonEmpty(linkData?.about) ? s(linkData.about) : null,\n  experience: null,\n  skills: null,\n};\n\nif (!sections.experience && Array.isArray(linkData?.experience) && linkData.experience.length) {\n  sections.experience = linkData.experience\n    .map(x => [x.title, x.company].filter(Boolean).join(' — '))\n    .filter(Boolean)\n    .join('\\n')\n    .trim() || null;\n}\n\nif (!sections.skills && Array.isArray(linkData?.top_skills) && linkData.top_skills.length) {\n  sections.skills = linkData.top_skills.join(', ').trim() || null;\n}\n\n// дополняем из полей, если link не дал\nif (!sections.headline && nonEmpty(p.profile_headline)) sections.headline = s(p.profile_headline);\nif (!sections.about && nonEmpty(p.profile_about)) sections.about = s(p.profile_about);\nif (!sections.experience && nonEmpty(p.profile_experience)) sections.experience = s(p.profile_experience);\nif (!sections.skills && nonEmpty(p.profile_skills)) sections.skills = s(p.profile_skills);\n\n// 2) raw_text как “максимум информации”, приоритет блоков: link → pdf → fields\n// (мы добавляем все источники, которые есть, а не выбираем один)\nconst chunks = [];\n\n// link chunk\nif (used.link) {\n  const parts = [];\n  if (nonEmpty(linkData.headline)) parts.push(`HEADLINE:\\n${s(linkData.headline)}`);\n  if (nonEmpty(linkData.about)) parts.push(`ABOUT:\\n${s(linkData.about)}`);\n\n  if (Array.isArray(linkData.experience) && linkData.experience.length) {\n    const exp = linkData.experience\n      .map(x => `${s(x.title)} — ${s(x.company)}`.trim())\n      .filter(x => x !== '—')\n      .join('\\n');\n    if (nonEmpty(exp)) parts.push(`EXPERIENCE:\\n${exp}`);\n  }\n\n  if (Array.isArray(linkData.top_skills) && linkData.top_skills.length) {\n    parts.push(`SKILLS:\\n${linkData.top_skills.join(', ')}`);\n  }\n\n  chunks.push(`SOURCE: LINK\\n${parts.join('\\n\\n')}`.trim());\n}\n\n// pdf chunk\nif (used.pdf) {\n  chunks.push(`SOURCE: PDF\\n${s(pdfText)}`.trim());\n}\n\n// fields chunk\nif (used.fields) {\n  chunks.push(`SOURCE: FIELDS\\n${s(fieldsText)}`.trim());\n}\n\n// если link.data нет (как в вашем data.json), но link.present=true,\n// добавим хотя бы ссылку из payload\nif (!used.link && bundle.sources?.link?.present && nonEmpty(p.profile_link)) {\n  chunks.push(`SOURCE: LINK\\nLINK:\\n${s(p.profile_link)}`.trim());\n  used.link = true;\n}\n\n// дедупликация грубо: убираем полностью совпадающие блоки\nconst uniq = [];\nconst seen = new Set();\nfor (const c of chunks) {\n  const key = c.replace(/\\s+/g, ' ').trim().toLowerCase();\n  if (!seen.has(key)) {\n    seen.add(key);\n    uniq.push(c);\n  }\n}\n\nlet rawText = uniq.join('\\n\\n---\\n\\n').trim() || null;\n\n// тех. защита качества (как было)\nif (rawText) rawText = rawText.replace(/эскорт[\\s-]*услуг/gi, '[18+]');\n\np.raw_text = rawText;\np.enriched = {\n  priority: ['link','pdf','fields'],\n  used,\n  sections,\n  link_profile_url: linkData?.profile_url || p.profile_link || null,\n  raw_text_len: rawText ? rawText.length : 0\n};\n\nreturn [{ json: { payload: p } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2368,-16],"id":"28b31051-445e-401e-a2c0-2469508bd283","name":"Enrich sources"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"responses":{"values":[{"role":"system","content":"=Role: LinkedIn Profile Summary Writer (Free Stage, Telegram Format)\n\nPurpose:\nGenerate a clear and useful Telegram message explaining the current state of a LinkedIn profile based on scoring JSON.\n\nImportant:\nThis is a FREE overview.\nDo NOT provide:\n- rewritten headline examples\n- full “About” text\n- detailed field-by-field optimization instructions\n- copy-ready LinkedIn content\n- internal scoring logic\n\nInput:\nYou will receive JSON with structure:\n\n{\n  \"status\": \"OK\",\n  \"meta\": {\n    \"goal_type\": \"...\",\n    \"result_lang\": \"ru|en\"\n  },\n  \"scores\": {\n    \"total\": number,\n    \"headline\": number,\n    \"about\": number,\n    \"experience\": number,\n    \"achievements\": number,\n    \"skills\": number\n  },\n  \"strengths\": [...],\n  \"weaknesses\": [...],\n  \"recommendations\": [...]\n}\n\nLanguage rule:\n- Output MUST be in meta.result_lang.\n- If result_lang=\"ru\", use Cyrillic only.\n- Do not mix languages.\n\nTone:\n- Professional\n- Neutral\n- Analytical\n- Clear\n- No marketing pressure\n- No emotional exaggeration\n\nOutput format:\nReturn plain text message only (NOT JSON).\nSuitable for Telegram message.\n\nStructure of message:\n\n1️⃣ Short headline line:\n\"Ваш текущий показатель профиля — X из 100.\"\n\n2️⃣ General interpretation (2–4 sentences):\nExplain what this score means in practical terms.\nAvoid labels like \"below_average\".\nInstead describe condition:\n- слабая структурированность\n- недостаточная доказательность\n- частичная проработка\n- сбалансированность и т.п.\n\n3️⃣ What works (1 short paragraph):\nSummarize strongest visible aspects without repeating score numbers.\n\n4️⃣ What limits the profile (1 short paragraph):\nDescribe key risk zones and their impact (visibility, credibility, positioning).\n\n5️⃣ Direction for improvement (2–3 short sentences):\nHigh-level guidance.\nNo templates.\nNo ready-to-copy phrases.\nNo specific wording examples.\n\nRules:\n\n- Do not list arrays.\n- Do not show field names like \"headline: 8\".\n- Do not mention internal scoring categories explicitly.\n- Do not mention paid version.\n- Keep message concise (max ~900 characters).\n- Avoid generic phrases like \"есть над чем работать\".\n- Be specific but high-level.\n- No emojis.\n\nFinal check:\n- Message must read naturally as a Telegram message.\n- Must not reveal internal scoring system.\n- Must not provide copy-ready LinkedIn text."},{"content":"={{ JSON.stringify($json.output[0].content[0].text) }}"}]},"simplify":false,"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[4048,-32],"id":"99ee4515-6cb6-4f95-8f59-fd76a789304d","name":"Message a model2","credentials":{"openAiApi":{"id":"aEpCSuNZRsUnLpjB","name":"linkedin_bot"}}},{"parameters":{"chatId":"={{ $('Extract from File').first().json.data.platform_id }}","text":"={{ $json.output[0].content[0].text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4400,-32],"id":"fff52b52-a9c2-4392-9406-936df18acd64","name":"Send a text message","webhookId":"843eaea5-2258-41b6-a9c5-50b43fd8aebd","credentials":{"telegramApi":{"id":"5AVCXzUmOJSLQVZs","name":"Linkedin-bot"}}},{"parameters":{"method":"POST","url":"https://chatter.salebot.pro/api/ecb44fd627bddcd16d449c7860848051/callback","sendBody":true,"bodyParameters":{"parameters":[{"name":"client_id","value":"={{ $('Extract from File').first().json.data.client_id }}"},{"name":"message","value":"=free_audit;{{ $('Message a model1').first().json.output[0].content[0].text.status }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4608,-32],"id":"9482844a-3b4b-4b83-98fb-5eae522652c1","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Build raw_text (pdf)","type":"main","index":0}]]},"Insert or update rows in a table":{"main":[[{"node":"Postgres : Requests: create","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Insert or update rows in a table","type":"main","index":0}],[{"node":"Postgres : Requests: create","type":"main","index":0}]]},"Postgres : Requests: create":{"main":[[{"node":"Init bundle","type":"main","index":0}]]},"Build raw_text (pdf)":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Normalize input":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Build raw_text (fields)":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Message a model":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Message a model2","type":"main","index":0}]]},"Run an Actor":{"main":[[{"node":"Get dataset items","type":"main","index":0}]]},"If1":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"If2":{"main":[[{"node":"Build raw_text (fields)","type":"main","index":0}]]},"Init bundle":{"main":[[{"node":"If1","type":"main","index":0},{"node":"If2","type":"main","index":0},{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Run an Actor","type":"main","index":0}]]},"Get dataset items":{"main":[[{"node":"Set link into bundle","type":"main","index":0}]]},"Set link into bundle":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Enrich sources","type":"main","index":0}]]},"Enrich sources":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model2":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.bot-craft.ru","x-real-ip":"62.84.112.69","x-forwarded-for":"62.84.112.69","x-forwarded-host":"n8n.bot-craft.ru","x-forwarded-proto":"https","x-forwarded-ssl":"on","x-forwarded-port":"443","x-original-uri":"/webhook/linkedin/audit","content-length":"482","user-agent":"python-requests/2.31.0","accept-encoding":"gzip, deflate","accept":"*/*"},"params":{},"query":{},"body":{},"webhookUrl":"https://n8n.bot-craft.ru/webhook/linkedin/audit","executionMode":"production"},"binary":{"data":{"mimeType":"application/octet-stream","fileExtension":"bin","data":"filesystem-v2","fileName":"d1a8c22b-9508-4b2e-b9be-1454b8db64cc","id":"filesystem-v2:workflows/1ZYJR6Mum95E4buU/executions/2980/binary_data/c37dd2a8-924f-4078-9330-5bc7f9302b94","fileSize":"482 B","bytes":482}},"pairedItem":{"item":0}}]},"versionId":"3ff6b30b-27ba-4e28-8c34-a1c9d23b921c","activeVersionId":"3ff6b30b-27ba-4e28-8c34-a1c9d23b921c","versionCounter":415,"triggerCount":1,"shared":[{"updatedAt":"2026-02-16T08:13:53.381Z","createdAt":"2026-02-16T08:13:53.381Z","role":"workflow:owner","workflowId":"1ZYJR6Mum95E4buU","projectId":"fNbMgFuoXSJzvMMG","project":{"updatedAt":"2025-06-10T14:20:13.350Z","createdAt":"2025-06-10T12:38:24.844Z","id":"fNbMgFuoXSJzvMMG","name":"Viktor Dolgikh <viktdo@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"79d41c48-74f3-4bd7-9d92-cc0f73cc1785"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-25T11:39:18.721Z","createdAt":"2026-02-25T11:38:56.487Z","versionId":"3ff6b30b-27ba-4e28-8c34-a1c9d23b921c","workflowId":"1ZYJR6Mum95E4buU","nodes":[{"parameters":{"httpMethod":"POST","path":"linkedin/audit","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-560,-16],"id":"32a11e13-7850-4342-88ab-4fe7ee461d0b","name":"Webhook","webhookId":"40d89a1a-416a-4b47-a5bd-085b88042f6e"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-352,-16],"id":"255adaea-6485-4eda-8380-ab7b942df132","name":"Extract from File"},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[4800,-32],"id":"48638818-a4c8-46e7-a639-bcce51a2109e","name":"Respond to Webhook"},{"parameters":{"resource":"file","fileId":"={{ $('Extract from File').item.json.data.profile_file_id_tg }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1488,-208],"id":"6482f71b-e515-480b-87bf-150c1046810a","name":"Get a file","webhookId":"4992df91-fbb9-4653-b8e9-ee0ec6ffe496","credentials":{"telegramApi":{"id":"5AVCXzUmOJSLQVZs","name":"Linkedin-bot"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1696,-208],"id":"e64451a6-ac57-404f-a1af-2cad6fb4a632","name":"Extract from File1"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"columns":{"mappingMode":"defineBelow","value":{"platform_id":"={{ $('Extract from File').item.json.data.platform_id }}","created_at":"={{ new Date().toISOString() }}"},"matchingColumns":["platform_id"],"schema":[{"id":"platform_id","displayName":"platform_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":false},{"id":"last_seen_at","displayName":"last_seen_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[528,-176],"id":"429bb7ad-2d6e-4654-8981-e033c8d6a046","name":"Insert or update rows in a table","credentials":{"postgres":{"id":"rCSTv2mlBUQCyoxe","name":"linkedin_bot"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"where":{"values":[{"column":"platform_id","value":"={{ $json.data.platform_id }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[64,-16],"id":"d5c8c0e9-ab2e-485b-ac70-282133a0d88f","name":"Select rows from a table","alwaysOutputData":true,"credentials":{"postgres":{"id":"rCSTv2mlBUQCyoxe","name":"linkedin_bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true},"id":"ede98ce8-986d-4663-988c-6eb59b31a3af"}],"combinator":"and"},"renameOutput":true,"outputKey":"Создаем карточку клиента"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[272,-16],"id":"55cfefe5-0a49-4d56-8313-b6beadb6df16","name":"Switch1"},{"parameters":{"operation":"executeQuery","query":"-- 1) request_id: генерим всегда (UUID)\n-- 2) profile_hash: sha256(canonical_json)\n\ninsert into requests (\n  platform_id,\n  request_id,\n  analysis_type,\n  input_type,\n  goal,\n  result_lang,\n  profile_hash,\n  status,\n  created_at,\n  updated_at\n)\nvalues (\n  $1,\n  gen_random_uuid()::text,\n  'free_score',\n  $2,\n  $3,\n  $4,\n  encode(digest($5, 'sha256'), 'hex'),\n  'RECEIVED',\n  now(),\n  now()\n)\nreturning id, platform_id, request_id, profile_hash, status;","options":{"queryReplacement":"={{ [\n$('Normalize input').item.json.payload.platform_id,\n$('Normalize input').item.json.payload.input_type,\n$('Normalize input').item.json.payload.goal_type,\n$('Normalize input').item.json.payload.profile_language,\n$('Normalize input').item.json.payload.canonical_json\n] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[832,0],"id":"52812138-d0c2-4c09-98b9-a37c907c5362","name":"Postgres : Requests: create","credentials":{"postgres":{"id":"rCSTv2mlBUQCyoxe","name":"linkedin_bot"}}},{"parameters":{"jsCode":"const bundle = $items('Init bundle')[0].json;\n\nconst pdfText = String($json.text || '').trim(); // оставьте поле вашей pdf-ноды как есть\nbundle.sources.pdf.raw_text = pdfText || null;\nbundle.sources.pdf.error = pdfText ? null : 'PDF_EMPTY';\n\nreturn [{ json: bundle }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,-208],"id":"6d98ae85-d9b4-4e41-a7f7-fd5905a1d750","name":"Build raw_text (pdf)"},{"parameters":{"jsCode":"const d = $json.data ?? {};\n\nconst platform_id = String(d.platform_id || '').trim();\nif (!platform_id) {\n  return [{\n    json: {\n      status: 'INSUFFICIENT_DATA',\n      errors: [{ code: 'NO_PLATFORM_ID', message: 'platform_id is required' }]\n    }\n  }];\n}\n\n// input_type: pdf / link / manual (по вашим полям)\nconst hasPdf = String(d.profile_file_id_tg || '').trim().length > 0;\nconst hasLink = String(d.profile_link || '').trim().length > 0;\n\nconst input_type = hasPdf ? 'pdf' : (hasLink ? 'link' : 'manual_fields');\n\n// internal payload, строго под ваш Salebot формат\nconst payload = {\n  client_id: String(d.client_id || '').trim() || null,\n  platform_id,\n  lang: (d.lang || 'ru'),\n  profile_language: (d.profile_language || null),\n  goal_type: (d.goal_type || null),\n  profile_link: (d.profile_link || null),\n  profile_file_id_tg: (d.profile_file_id_tg || null),\n  profile_headline: (d.profile_headline || null),\n  profile_about: (d.profile_about || null),\n  profile_experience: (d.profile_experience || null),\n  profile_skills: (d.profile_skills || null),\n};\n\nconst canonical = {\n  analysis_type: 'free_score',\n  input_type,\n  // goal/result_lang берём из ваших полей\n  goal_type: payload.goal_type,\n  result_lang: payload.lang,\n  profile_language: payload.profile_language,\n  // все входные данные, влияющие на итог\n  profile_link: payload.profile_link,\n  profile_file_id_tg: payload.profile_file_id_tg,\n  profile_headline: payload.profile_headline,\n  profile_about: payload.profile_about,\n  profile_experience: payload.profile_experience,\n  profile_skills: payload.profile_skills\n};\n\n// canonical_json хэшируем в Postgres\npayload.analysis_type = 'free_score';\npayload.input_type = input_type;\npayload.canonical_json = JSON.stringify(canonical);\n\nreturn [{ json: { payload } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-16],"id":"522668ef-3047-455c-aa84-76722bce05c3","name":"Normalize input"},{"parameters":{"jsCode":"const bundle = $items('Init bundle')[0].json;\nconst p = bundle.payload;\n\nconst parts = [];\nif (p.profile_headline) parts.push(`HEADLINE:\\n${p.profile_headline}`);\nif (p.profile_about) parts.push(`ABOUT:\\n${p.profile_about}`);\nif (p.profile_experience) parts.push(`EXPERIENCE:\\n${p.profile_experience}`);\nif (p.profile_skills) parts.push(`SKILLS:\\n${p.profile_skills}`);\nif (p.profile_link) parts.push(`LINK:\\n${p.profile_link}`);\n\nconst fieldsText = parts.join('\\n\\n').trim();\nbundle.sources.fields.raw_text = fieldsText || null;\nbundle.sources.fields.error = fieldsText ? null : 'FIELDS_EMPTY';\n\nreturn [{ json: bundle }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,-16],"id":"06a4b1fa-7235-422f-a812-f36105ca228c","name":"Build raw_text (fields)"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"=ROLE: LinkedIn Profile Normalization Engine\n\nYou are a deterministic data normalizer.\n\nYour task is to transform raw LinkedIn profile input into a strict structured JSON object.\n\nSOURCE OF TRUTH:\nOnly the data provided in the INPUT section.\nDo NOT invent, assume, enrich, infer or complete missing information.\nIf data is missing — explicitly mark it as null.\n\nSTRICT RULES:\n- Output ONLY valid JSON.\n- No markdown.\n- No comments.\n- No explanations.\n- No text outside JSON.\n- If critical information is missing, return INSUFFICIENT_DATA structure (defined below).\n\nINPUT OBJECT FIELDS:\n- goal_type\n- result_lang\n- profile_language\n- raw_text (if provided)\n- profile_link\n- profile_headline\n- profile_about\n- profile_experience\n- profile_skills\n\nTASK:\n\n1. Extract and normalize the profile into structured fields.\n2. Remove duplicates.\n3. Trim whitespace.\n4. Preserve original language.\n5. Do not translate.\n6. If the same block appears twice, keep one clean version.\n7. If input is too short (< 200 characters total meaningful content), return INSUFFICIENT_DATA.\n\nOUTPUT FORMAT (STRICT):\n\n{\n  \"status\": \"OK\",\n  \"normalized_profile\": {\n    \"language_detected\": \"string|null\",\n    \"goal_type\": \"string|null\",\n    \"headline\": \"string|null\",\n    \"about\": \"string|null\",\n    \"experience\": [\n      {\n        \"company\": \"string|null\",\n        \"role\": \"string|null\",\n        \"dates\": \"string|null\",\n        \"achievements\": [\"string\"]\n      }\n    ],\n    \"skills\": [\"string\"],\n    \"link\": \"string|null\"\n  },\n  \"meta\": {\n    \"input_completeness_score\": 0.0,\n    \"duplicate_content_removed\": true,\n    \"insufficient_fields\": []\n  }\n}\n\nIF insufficient data:\n\n{\n  \"status\": \"INSUFFICIENT_DATA\",\n  \"reason\": \"short_content|missing_core_sections\",\n  \"missing_fields\": [\"headline\",\"experience\"]\n}\n\nNo other formats allowed."},{"content":"={\n  \"goal_type\": \"{{ $json.payload.goal_type }}\",\n  \"result_lang\": \"{{ $json.payload.lang }}\",\n  \"profile_language\": \"{{ $json.payload.profile_language }}\",\n  \"raw_text\": \"{{ $json.payload.raw_text }}\"\n}"}]},"simplify":false,"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[2656,-16],"id":"255b1318-75fb-4a3a-b936-e9c30451c132","name":"Message a model","credentials":{"openAiApi":{"id":"aEpCSuNZRsUnLpjB","name":"linkedin_bot"}}},{"parameters":{"jsCode":"// Parse normalized JSON (after node 6)\nconst out = $json?.output?.[0];\nconst text = out?.content?.[0]?.text;\n\nif (!text || typeof text !== 'string') {\n  return [{\n    json: {\n      status: 'ERROR',\n      errors: [{ code: 'NO_LLM_TEXT', message: 'LLM output text is missing' }]\n    }\n  }];\n}\n\nlet obj;\ntry {\n  obj = JSON.parse(text);\n} catch (e) {\n  return [{\n    json: {\n      status: 'ERROR',\n      errors: [{\n        code: 'INVALID_JSON_FROM_LLM',\n        message: 'LLM returned non-JSON text',\n        details: String(e)\n      }],\n      raw_text: text.slice(0, 2000)\n    }\n  }];\n}\n\n// Валидация минимальной схемы\nif (!obj || typeof obj !== 'object' || !obj.status) {\n  return [{\n    json: {\n      status: 'ERROR',\n      errors: [{ code: 'BAD_SCHEMA', message: 'Missing top-level status in normalized JSON' }],\n      raw_text: text.slice(0, 2000)\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    status: obj.status,\n    normalized_profile: obj.normalized_profile ?? null,\n    meta: obj.meta ?? null,\n    insufficient: {\n      reason: obj.reason ?? null,\n      missing_fields: obj.missing_fields ?? null\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3040,-16],"id":"924a9337-3a07-4304-8a13-327c49aa09e9","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5fa26d9b-db1f-4008-98db-7f49ef1bd338","leftValue":"={{ $json.status }}","rightValue":"OK","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3248,-16],"id":"aaebc241-11ed-41ab-83fd-84bcfc9cb7df","name":"If"},{"parameters":{"operation":"executeQuery","query":"insert into artifacts (platform_id, profile_hash, normalized_profile, created_at)\nvalues ($1, $2, $3::jsonb, now())\non conflict (platform_id, profile_hash)\ndo update set normalized_profile = excluded.normalized_profile\nreturning id;","options":{"queryReplacement":"={{ [\n$('Normalize input').item.json.payload.platform_id,\n$('Postgres : Requests: create').item.json.profile_hash,\n$json.normalized_profile\n] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3488,-32],"id":"3cba7251-efac-4a85-a5eb-62cca2a052a8","name":"Execute a SQL query","credentials":{"postgres":{"id":"rCSTv2mlBUQCyoxe","name":"linkedin_bot"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"responses":{"values":[{"role":"system","content":"=Role: LinkedIn Profile Scoring Engine (deterministic, conservative evaluator)\n\nPurpose:\nGenerate a strict, conservative free score based ONLY on explicitly present data.\nIf unsure → score lower.\nNever inflate results.\n\nSource of truth:\n- Use ONLY normalized_profile from input JSON.\n- Do NOT assume, infer, extrapolate or interpret beyond explicit text.\n- Only evaluate what is explicitly present.\n\nDeterminism:\n- Use exact scoring rules below.\n- If rule does not clearly match → score 0.\n- Return JSON only.\n\nINPUT FORMAT:\n{\n  \"goal_type\": \"job|freelance|brand\",\n  \"result_lang\": \"ru|en\",\n  \"normalized_profile\": {\n    \"language_detected\": \"string|null\",\n    \"headline\": \"string|null\",\n    \"about\": \"string|null\",\n    \"experience\": [...],\n    \"skills\": [...]\n  }\n}\n\n--------------------------------------------------\nINSUFFICIENT_DATA (STRICT BUT MINIMAL)\n--------------------------------------------------\n\nReturn INSUFFICIENT_DATA ONLY IF:\n\n1) headline is null or empty\n2) about is null or empty\n3) experience missing OR not an array OR length == 0\n\nDO NOT return INSUFFICIENT_DATA for:\n- short headline\n- short about\n- few skills\n- single experience entry\n\nIf INSUFFICIENT_DATA:\n\n{\n  \"status\":\"INSUFFICIENT_DATA\",\n  \"missing\":[...],\n  \"notes\":\"...\"\n}\n\nnotes must be 1 short sentence in result_lang.\n\n--------------------------------------------------\nLANGUAGE RULES (MANDATORY)\n--------------------------------------------------\n\n- All user-facing strings MUST be in result_lang.\n- Do NOT switch language based on profile language.\n- If result_lang=\"ru\", use Cyrillic.\n- Proper nouns and tech terms may remain unchanged.\n- No English sentences if result_lang=\"ru\".\n\n--------------------------------------------------\nGENERAL SCORING RULES\n--------------------------------------------------\n\n1) Every subscore must be integer 0–20.\n2) If partial match → give lower value.\n3) If unclear → give 0.\n4) total MUST equal exact sum of subscores.\n5) If any subscore >20 → recompute.\n6) Conservative bias: never reward absence of data.\n7) If profile has:\n   - less than 2 experience entries\n   OR\n   - less than 8 skills\n   Then final total cannot exceed 70.\n8) If profile has only 1 experience entry → experience subscore max = 12.\n9) If skills <5 → skills subscore max = 8.\n\n--------------------------------------------------\nSCORING MODEL (0–100)\n--------------------------------------------------\n\n1) HEADLINE (0–20)\n\n+5 length ≥30\n+5 contains explicit role keyword (engineer, developer, manager, analyst, designer, consultant, specialist, lead, founder, etc.)\n+5 contains specialization keyword (SaaS, FinTech, AI, Marketing, Analytics, etc.)\n+5 contains goal-aligned phrase (help, build, freelance, open to work, etc.)\n\nIf no role keyword present → headline max = 12.\nIf length <30 → headline max = 8.\n\n--------------------------------------------------\n\n2) ABOUT (0–20)\n\n+5 length ≥300 characters\n+5 contains ≥2 of: niche, audience, measurable proof, CTA\n+5 contains number AND action verb (e.g. built 5…, increased 30%)\n+5 structured formatting (bullets or visible sections)\n\nIf no numbers → about max = 12.\nIf length <200 → about max = 10.\n\n--------------------------------------------------\n\n3) EXPERIENCE (0–20)\n\n+5 ≥2 roles\n+5 company and role filled\n+5 dates present\n+5 visible progression (e.g. Junior → Senior)\n\nIf only 1 role → max = 12.\n\n--------------------------------------------------\n\n4) ACHIEVEMENTS (0–20)\n\n+5 ≥3 achievements\n+5 contain numbers\n+5 contain measurable impact verbs\n+5 outcome-focused (not task-only descriptions)\n\nIf achievements mostly task-based → max = 14.\n\n--------------------------------------------------\n\n5) SKILLS (0–20)\n\n+5 ≥10 skills\n+5 ≥3 skills match specialization\n+5 no duplicates\n+5 aligned with headline specialization\n\nIf skills <5 → max = 8.\nIf skills 5–9 → max = 12.\n\n--------------------------------------------------\nTOTAL CALCULATION\n--------------------------------------------------\n\ntotal = headline + about + experience + achievements + skills\n\nIf total >70 AND:\n  - experience length <2 OR\n  - skills <8\nThen set total = 70.\n\nEnsure:\n- total equals sum of subscores (after caps).\n- total cannot exceed 85 in free mode.\n\n--------------------------------------------------\nSTRENGTHS / WEAKNESSES RULES\n--------------------------------------------------\n\nMax 5 each.\n\nEach statement must:\n- reference explicit evidence\n- follow format: \"Факт → вывод\"\n\nExample:\n\"Есть 4 достижения с цифрами → присутствует количественное подтверждение.\"\n\nNo praise language.\nNo speculation.\n\n--------------------------------------------------\nRECOMMENDATIONS RULES\n--------------------------------------------------\n\nMax 5.\n1 sentence each.\nDirectly tied to weakest subscores.\nNo motivational tone.\nNo invented data.\n\n--------------------------------------------------\nOUTPUT FORMAT (STRICT JSON)\n--------------------------------------------------\n\nIf OK:\n\n{\n  \"status\": \"OK\",\n  \"meta\": {\n    \"goal_type\": \"job|freelance|brand\",\n    \"result_lang\": \"ru|en\",\n    \"profile_language_detected\": \"string|null\"\n  },\n  \"scores\": {\n    \"total\": 0,\n    \"headline\": 0,\n    \"about\": 0,\n    \"experience\": 0,\n    \"achievements\": 0,\n    \"skills\": 0\n  },\n  \"strengths\": [\"string\"],\n  \"weaknesses\": [\"string\"],\n  \"recommendations\": [\"string\"]\n}\n\nIf INSUFFICIENT_DATA:\n\n{\n  \"status\":\"INSUFFICIENT_DATA\",\n  \"missing\":[\"...\"],\n  \"notes\":\"...\"\n}\n\n--------------------------------------------------\nFINAL VALIDATION (MANDATORY)\n--------------------------------------------------\n\nBefore output:\n- Verify all subscores are integers 0–20.\n- Verify total equals exact sum.\n- Verify language matches result_lang.\n- If any condition fails → recompute.\n- Return JSON only."},{"content":"=\"role\" : \"user\"\n\n\"content\" : {\n  \"goal_type\": \"{{$node['Normalize input'].json.payload.goal_type}}\",\n  \"result_lang\": \"{{ $('Normalize input').item.json.payload.lang }}\",\n  \"normalized_profile\": {{ JSON.stringify($node['Code in JavaScript'].json.normalized_profile) }}\n}"}]},"simplify":false,"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_object"}},"temperature":0,"topP":1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[3696,-32],"id":"5f7b7422-3e21-4f28-8602-ce07ce348963","name":"Message a model1","credentials":{"openAiApi":{"id":"aEpCSuNZRsUnLpjB","name":"linkedin_bot"}}},{"parameters":{"actorId":{"__rl":true,"value":"VhxlqQXRwhW8H5hNV","mode":"list","cachedResultName":"Profile Details Scraper for LinkedIn + EMAIL (No Cookies) (apimaestro/linkedin-profile-detail)","cachedResultUrl":"https://console.apify.com/actors/VhxlqQXRwhW8H5hNV/input"},"customBody":"={\n    \"includeEmail\": false,\n    \"username\": \"{{ $('Extract from File').item.json.data.profile_link }}\"\n} "},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[1472,192],"id":"1084ebae-62da-48ca-9192-5d893231655d","name":"Run an Actor","credentials":{"apifyApi":{"id":"wVu9v5MBpnXexBGz","name":"linkedin_bot"}}},{"parameters":{"resource":"Datasets","datasetId":"={{ $json.defaultDatasetId }}","options":{}},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[1680,192],"id":"491178b0-d636-4eac-a039-625bdf6280b4","name":"Get dataset items","credentials":{"apifyApi":{"id":"wVu9v5MBpnXexBGz","name":"linkedin_bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1aa249d6-8ca1-4164-a2c7-113e906f74b5","leftValue":"={{ $json.sources.pdf.present }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1264,-192],"id":"736bbdee-b165-4b4f-a97f-db17a719d364","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"30c75879-b18d-4bf8-b285-7f7235cffed7","leftValue":"={{ $json.sources.fields.present }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1248,0],"id":"82aef6b5-dc3d-4b88-beef-60235f9647ac","name":"If2"},{"parameters":{"jsCode":"const payload = $items('Normalize input')[0].json.payload;\n\nconst bundle = {\n  payload,\n  sources: {\n    pdf:   { present: !!payload.profile_file_id_tg, raw_text: null, error: null },\n    fields:{ present: !!(payload.profile_headline || payload.profile_about || payload.profile_experience || payload.profile_skills), raw_text: null, error: null },\n    link:  { present: !!payload.profile_link, data: null, error: null }\n  }\n};\n\nreturn [{ json: bundle }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,0],"id":"4fabe9d2-d240-495a-ae20-4d260d676e60","name":"Init bundle"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"30c75879-b18d-4bf8-b285-7f7235cffed7","leftValue":"={{ $json.sources.link.present }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1264,208],"id":"75c35570-6fc4-4d47-93c2-81fb6645d4a8","name":"If3"},{"parameters":{"jsCode":"const bundle = $items('Init bundle')[0].json;\n\n// dataset items обычно массив\nconst r = Array.isArray($json) ? $json[0] : $json;\nconst bi = r?.basic_info || {};\n\nbundle.sources.link.data = {\n  profile_url: bi.profile_url || null,\n  public_identifier: bi.public_identifier || null,\n  fullname: bi.fullname || null,\n  headline: bi.headline || null,\n  about: bi.about || null,\n  top_skills: Array.isArray(bi.top_skills) ? bi.top_skills : [],\n  experience: Array.isArray(r.experience) ? r.experience : [],\n  education: Array.isArray(r.education) ? r.education : [],\n  location: bi.location || null\n};\n\nbundle.sources.link.error =\n  (bundle.sources.link.data.headline || bundle.sources.link.data.about || bundle.sources.link.data.experience.length)\n    ? null\n    : 'LINK_EMPTY';\n\nreturn [{ json: bundle }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,192],"id":"0c597cfa-8ec8-4a33-805c-27c5bc88516b","name":"Set link into bundle"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2160,-32],"id":"b5457f7f-d1d2-4fdc-af88-866d0b1736c3","name":"Merge"},{"parameters":{"jsCode":"const bundle = $json; // после merge\n\nconst p = bundle.payload || {};\nconst pdfText = bundle.sources?.pdf?.raw_text || null;\nconst fieldsText = bundle.sources?.fields?.raw_text || null;\nconst linkData = bundle.sources?.link?.data || null;\n\n// helpers\nconst s = (v) => (v == null ? '' : String(v)).trim();\nconst nonEmpty = (v) => s(v).length > 0;\n\nconst used = {\n  link: !!bundle.sources?.link?.present && !!linkData,\n  pdf: !!bundle.sources?.pdf?.present && nonEmpty(pdfText),\n  fields: !!bundle.sources?.fields?.present && nonEmpty(fieldsText),\n};\n\n// 1) секции (максимум структурных данных): link → fields (в pdf у нас нет структурных секций, только raw)\nconst sections = {\n  headline: nonEmpty(linkData?.headline) ? s(linkData.headline) : null,\n  about: nonEmpty(linkData?.about) ? s(linkData.about) : null,\n  experience: null,\n  skills: null,\n};\n\nif (!sections.experience && Array.isArray(linkData?.experience) && linkData.experience.length) {\n  sections.experience = linkData.experience\n    .map(x => [x.title, x.company].filter(Boolean).join(' — '))\n    .filter(Boolean)\n    .join('\\n')\n    .trim() || null;\n}\n\nif (!sections.skills && Array.isArray(linkData?.top_skills) && linkData.top_skills.length) {\n  sections.skills = linkData.top_skills.join(', ').trim() || null;\n}\n\n// дополняем из полей, если link не дал\nif (!sections.headline && nonEmpty(p.profile_headline)) sections.headline = s(p.profile_headline);\nif (!sections.about && nonEmpty(p.profile_about)) sections.about = s(p.profile_about);\nif (!sections.experience && nonEmpty(p.profile_experience)) sections.experience = s(p.profile_experience);\nif (!sections.skills && nonEmpty(p.profile_skills)) sections.skills = s(p.profile_skills);\n\n// 2) raw_text как “максимум информации”, приоритет блоков: link → pdf → fields\n// (мы добавляем все источники, которые есть, а не выбираем один)\nconst chunks = [];\n\n// link chunk\nif (used.link) {\n  const parts = [];\n  if (nonEmpty(linkData.headline)) parts.push(`HEADLINE:\\n${s(linkData.headline)}`);\n  if (nonEmpty(linkData.about)) parts.push(`ABOUT:\\n${s(linkData.about)}`);\n\n  if (Array.isArray(linkData.experience) && linkData.experience.length) {\n    const exp = linkData.experience\n      .map(x => `${s(x.title)} — ${s(x.company)}`.trim())\n      .filter(x => x !== '—')\n      .join('\\n');\n    if (nonEmpty(exp)) parts.push(`EXPERIENCE:\\n${exp}`);\n  }\n\n  if (Array.isArray(linkData.top_skills) && linkData.top_skills.length) {\n    parts.push(`SKILLS:\\n${linkData.top_skills.join(', ')}`);\n  }\n\n  chunks.push(`SOURCE: LINK\\n${parts.join('\\n\\n')}`.trim());\n}\n\n// pdf chunk\nif (used.pdf) {\n  chunks.push(`SOURCE: PDF\\n${s(pdfText)}`.trim());\n}\n\n// fields chunk\nif (used.fields) {\n  chunks.push(`SOURCE: FIELDS\\n${s(fieldsText)}`.trim());\n}\n\n// если link.data нет (как в вашем data.json), но link.present=true,\n// добавим хотя бы ссылку из payload\nif (!used.link && bundle.sources?.link?.present && nonEmpty(p.profile_link)) {\n  chunks.push(`SOURCE: LINK\\nLINK:\\n${s(p.profile_link)}`.trim());\n  used.link = true;\n}\n\n// дедупликация грубо: убираем полностью совпадающие блоки\nconst uniq = [];\nconst seen = new Set();\nfor (const c of chunks) {\n  const key = c.replace(/\\s+/g, ' ').trim().toLowerCase();\n  if (!seen.has(key)) {\n    seen.add(key);\n    uniq.push(c);\n  }\n}\n\nlet rawText = uniq.join('\\n\\n---\\n\\n').trim() || null;\n\n// тех. защита качества (как было)\nif (rawText) rawText = rawText.replace(/эскорт[\\s-]*услуг/gi, '[18+]');\n\np.raw_text = rawText;\np.enriched = {\n  priority: ['link','pdf','fields'],\n  used,\n  sections,\n  link_profile_url: linkData?.profile_url || p.profile_link || null,\n  raw_text_len: rawText ? rawText.length : 0\n};\n\nreturn [{ json: { payload: p } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2368,-16],"id":"28b31051-445e-401e-a2c0-2469508bd283","name":"Enrich sources"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"responses":{"values":[{"role":"system","content":"=Role: LinkedIn Profile Summary Writer (Free Stage, Telegram Format)\n\nPurpose:\nGenerate a clear and useful Telegram message explaining the current state of a LinkedIn profile based on scoring JSON.\n\nImportant:\nThis is a FREE overview.\nDo NOT provide:\n- rewritten headline examples\n- full “About” text\n- detailed field-by-field optimization instructions\n- copy-ready LinkedIn content\n- internal scoring logic\n\nInput:\nYou will receive JSON with structure:\n\n{\n  \"status\": \"OK\",\n  \"meta\": {\n    \"goal_type\": \"...\",\n    \"result_lang\": \"ru|en\"\n  },\n  \"scores\": {\n    \"total\": number,\n    \"headline\": number,\n    \"about\": number,\n    \"experience\": number,\n    \"achievements\": number,\n    \"skills\": number\n  },\n  \"strengths\": [...],\n  \"weaknesses\": [...],\n  \"recommendations\": [...]\n}\n\nLanguage rule:\n- Output MUST be in meta.result_lang.\n- If result_lang=\"ru\", use Cyrillic only.\n- Do not mix languages.\n\nTone:\n- Professional\n- Neutral\n- Analytical\n- Clear\n- No marketing pressure\n- No emotional exaggeration\n\nOutput format:\nReturn plain text message only (NOT JSON).\nSuitable for Telegram message.\n\nStructure of message:\n\n1️⃣ Short headline line:\n\"Ваш текущий показатель профиля — X из 100.\"\n\n2️⃣ General interpretation (2–4 sentences):\nExplain what this score means in practical terms.\nAvoid labels like \"below_average\".\nInstead describe condition:\n- слабая структурированность\n- недостаточная доказательность\n- частичная проработка\n- сбалансированность и т.п.\n\n3️⃣ What works (1 short paragraph):\nSummarize strongest visible aspects without repeating score numbers.\n\n4️⃣ What limits the profile (1 short paragraph):\nDescribe key risk zones and their impact (visibility, credibility, positioning).\n\n5️⃣ Direction for improvement (2–3 short sentences):\nHigh-level guidance.\nNo templates.\nNo ready-to-copy phrases.\nNo specific wording examples.\n\nRules:\n\n- Do not list arrays.\n- Do not show field names like \"headline: 8\".\n- Do not mention internal scoring categories explicitly.\n- Do not mention paid version.\n- Keep message concise (max ~900 characters).\n- Avoid generic phrases like \"есть над чем работать\".\n- Be specific but high-level.\n- No emojis.\n\nFinal check:\n- Message must read naturally as a Telegram message.\n- Must not reveal internal scoring system.\n- Must not provide copy-ready LinkedIn text."},{"content":"={{ JSON.stringify($json.output[0].content[0].text) }}"}]},"simplify":false,"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[4048,-32],"id":"99ee4515-6cb6-4f95-8f59-fd76a789304d","name":"Message a model2","credentials":{"openAiApi":{"id":"aEpCSuNZRsUnLpjB","name":"linkedin_bot"}}},{"parameters":{"chatId":"={{ $('Extract from File').first().json.data.platform_id }}","text":"={{ $json.output[0].content[0].text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4400,-32],"id":"fff52b52-a9c2-4392-9406-936df18acd64","name":"Send a text message","webhookId":"843eaea5-2258-41b6-a9c5-50b43fd8aebd","credentials":{"telegramApi":{"id":"5AVCXzUmOJSLQVZs","name":"Linkedin-bot"}}},{"parameters":{"method":"POST","url":"https://chatter.salebot.pro/api/ecb44fd627bddcd16d449c7860848051/callback","sendBody":true,"bodyParameters":{"parameters":[{"name":"client_id","value":"={{ $('Extract from File').first().json.data.client_id }}"},{"name":"message","value":"=free_audit;{{ $('Message a model1').first().json.output[0].content[0].text.status }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[4608,-32],"id":"9482844a-3b4b-4b83-98fb-5eae522652c1","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Build raw_text (pdf)","type":"main","index":0}]]},"Insert or update rows in a table":{"main":[[{"node":"Postgres : Requests: create","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Insert or update rows in a table","type":"main","index":0}],[{"node":"Postgres : Requests: create","type":"main","index":0}]]},"Postgres : Requests: create":{"main":[[{"node":"Init bundle","type":"main","index":0}]]},"Build raw_text (pdf)":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Normalize input":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Build raw_text (fields)":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Message a model":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Message a model2","type":"main","index":0}]]},"Run an Actor":{"main":[[{"node":"Get dataset items","type":"main","index":0}]]},"If1":{"main":[[{"node":"Get a file","type":"main","index":0}]]},"If2":{"main":[[{"node":"Build raw_text (fields)","type":"main","index":0}]]},"Init bundle":{"main":[[{"node":"If1","type":"main","index":0},{"node":"If2","type":"main","index":0},{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Run an Actor","type":"main","index":0}]]},"Get dataset items":{"main":[[{"node":"Set link into bundle","type":"main","index":0}]]},"Set link into bundle":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Enrich sources","type":"main","index":0}]]},"Enrich sources":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model2":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Viktor Dolgikh","name":"Version 3ff6b30b","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-25T11:39:18.712Z","id":41,"workflowId":"1ZYJR6Mum95E4buU","versionId":"3ff6b30b-27ba-4e28-8c34-a1c9d23b921c","event":"activated","userId":"79d41c48-74f3-4bd7-9d92-cc0f73cc1785"}]}}